name: Python Checks
on:
  workflow_dispatch:
  pull_request:
    branches:
      - "*"

jobs:
  mypy:
    name: mypy
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repo
        uses: actions/checkout@v4.2.2
      - name: uv
        uses: astral-sh/setup-uv@v7
      - name: mypy
        run: uv run mypy .
